:root {
  --orange: #ff7b5c;
  --pinkish-red: #ff6c81;
}

.App {
  min-height: 100vh;
  background-image: linear-gradient(to right, var(--orange), var(--pinkish-red));
}
@media (orientation: portrait) {
  .App {
    background-image: linear-gradient(to bottom, var(--orange), var(--pinkish-red));
  }
}

.home {
  min-height: 100vh;
  margin: auto;
  max-width: 1600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
@media (orientation: portrait) {
  .home {
    flex-direction: column;
  }
}

img {
  pointer-events: none;
}

/* for Bootstrap like styles */
*, ::after, ::before {
  box-sizing: border-box;
}
