:root {
  --orange: #ff7b5c;
  --pinkish-red: #ff6c81;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(to right, var(--orange), var(--pinkish-red));
}
@media (orientation: portrait) {
  .App {
    flex-direction: column;
    background-image: linear-gradient(to bottom, var(--orange), var(--pinkish-red));
  }
}
